<!DOCTYPE html>
<html>
<head>
  <title>Longest Word Game</title>
</head>
<body>
  <h1>New Game</h1>
  <ul>
    <% @letters.each do |letter| %>
      <li style="display:inline"><%= letter %></li>
    <% end %>
  </ul>
  <p>What is the longest word you can find?</p>
    <form action="/score" method="POST" data-turbo="false">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="text" name="word">
    <br>
    <input type="submit" value="play">
    </form>
</body>
</html>
