<!DOCTYPE html>
<html>
<head>
  <title>Longest Word Game</title>
</head>
<body>
  <h1>New Game</h1>
  <ul>
    <% @letters.each do |letter| %>
      <li><%= letter %></li>
    <% end %>
  </ul>
  <p>What is the longest word you can find?</p>
  <input type="text">
    <br>
    <input type="submit" value="play">
</body>
</html>
